<%= render "games/header" %>
<h3>Edit Game</h3>

<%= render 'form' %>

<h2>Add an image:</h2>
<%= render 'images/form' %>


<%= link_to 'Delete Game', [ @game ],
	method: :delete,
	data: { confirm: 'Are you sure?' } %> 
<%= link_to 'Back', games_path %>
