<%= render "games/header" %>
<h3>All Games</h3>
<%= link_to 'New Game', new_application_path %>

<style>
	#sort {
		display: inline-block;
		float: right;
		background-color: #DDDDDD;
		margin-right: 5px;
		height: 190px;
		width: 200px;
		text-align: center;
	}
</style>

<script type="text/javascript">
function sort() {
	var s = document.getElementById(this, "sort");
    var table, rows, switching, i, x, y, shouldSwitch;
    table = document.getElementById(this, "games");
    switching = true;

    while (switching) {

        switching = false;
        rows = table.rows;

        for (i = 1; i < (rows.length - 1); i++) {
            shouldSwitch = false;
			if (s == "titleasc") {
				x = rows[i].getElementsByTagName("td")[1];
				y = rows[i + 1].getElementsByTagName("td")[1];
				if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {

					shouldSwitch = true;
					break;
				}
			} 
			if (s == "titledesc")
				x = rows[i].getElementsByTagName("td")[1];
				y = rows[i + 1].getElementsByTagName("td")[1];
				if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {

					shouldSwitch = true;
					break;
				}
			}
			if (s == "priceasc") {
				x = rows[i].getElementsByTagName("td")[3];
				y = rows[i + 1].getElementsByTagName("td")[3];
				if (x.innerHTML.substring(1) > y.innerHTML.substring(1)) {

					shouldSwitch = true;
					break;
				}
			} 
			if (s == "pricedesc") {
				x = rows[i].getElementsByTagName("td")[3];
				y = rows[i + 1].getElementsByTagName("td")[3];
				if (x.innerHTML.substring(1) < y.innerHTML.substring(1)) {

					shouldSwitch = true;
					break;
				}
			}
        }
        if (shouldSwitch) {
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
        }
    }
}
</script>

<div id="sort">
	<h5>Sort By:</h5>
	<form onsubmit="sort()">
		<fieldset>
		<p>
		<input type="radio" name="sort" value="titleasc">Title (A to Z)<br>
		<input type="radio" name="sort" value="titledesc">Title (Z to A)<br>
		<input type="radio" name="sort" value="priceasc">Price (low to high)<br>
		<input type="radio" name="sort" value="pricedesc">Price (high to low)<br></p>
		<br>
		<input type="submit">
		</fieldset>
	</form>
</div>

<table border="1" id="games" style="text-align: center">
<body>
<% @games.each do |game| %>
	<tr>
		<% game.images.each do |image| %>
			<td width="350" height="200"><%= image_tag(image.url, size: "350x200", :alt => "rss feed") %></td>
			<% break %>
		<% end %>
		<td width="200" height="200"><h5 class="card-title"><%= game.title %></h5></td>
		<td width="300" height="200"><div style="position:relative">			
			<p class="card-text"><%= game.description %></p>
			<div class="btn-group " style="bottom:0">
				<%= link_to 'View', game_path(game) %> |
				<%= link_to 'Buy', "http://#{game.url}", :target => "_blank" %>
			</div>
		</div></td>
		<td width="70" height="200">$<%= game.price %></td>
			
<% end %>
</body>
</table>



 