<%= render "games/header" %>
<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Developers:</strong>
  <%= @game.developers %>
</p>
<p>
  <strong>Platforms:</strong>
  <%= @game.platforms %>
</p>

<p>
  <strong>URL:</strong>
  <%= @game.url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @game.price %>
</p>

<h2>Images</h2>
<%= render @game.images %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
