<%= render "games/header" %>
<h3>All Games</h3>
<%= link_to 'New Game', new_application_path %>

<style>
	#sort {
		display: inline-block;
		float: right;
		background-color: #DDDDDD;
		margin-right: 5px;
		height: 200px;
		width: 150px;
		text-align: center;
	}
</style>

<div id="sort">
	<h5>Sort by:</h5>
	<%= render 'sort' %>
</div>

<table>
<% @games.each do |game| %>
    <div class="col-md-4">
		<div class="card mb-4 shadow-sm">
			<img class="card-img-top" src="http://placehold.it/500x300" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title"><%= game.title %></h5>
				<p class="card-text"><%= game.description %></p>
				<div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
						<%= link_to 'View', game_path(game) %>
						<%= link_to 'Buy', "http://#{game.url}", :target => "_blank" %>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>
</table>


