<%= form_with model: @application, local: true do |form| %>
        <p>
                <%= form.label :title %><br>
                <%= form.text_field :title %>
        </p>
        <p>
                <%= form.label :description %><br>
                <%= form.text_area :description %>
        </p>
        <p>
                <%= form.label :developers %><br>
                <%= form.text_field :developers %>
        </p>
        <p>
                <%= form.label :platforms %><br>
                <%= form.text_field :platforms %>
        </p>
        <p>
                <%= form.label :url %><br>
                <%= form.text_field :url %>
        </p>
        <p>
                <%= form.label :price %><br>
                <%= form.text_field :price %>
        </p>
		
		<p>
                <%= form.label :images %><br>
                <%= form.text_area :images %>
        </p>

        <p>
                <%= form.submit %>
        </p>
<% end %>
