<%= render "games/header" %>
<% if current_user && current_user.role = "admin" %>
<html>
<head>
  <h3>All Applications</h3>
</head>
<body>
  <table class="sortable">
  <thead>
	<tr>
		<th width="10%">Title</th>
		<th width="16%">Description</th>
		<th width="10%">Developers</th>
		<th width="10%">Platforms</th>
		<th width="10%">URL</th>
		<th width="10%">Price</th>
		<th width="10%">Status</th>
		<th width="10%">Comments</th>
		<th width="14%">Actions</th>
	</tr>
   </thead>
   <tbody>
	<% @applications.each do |application| %>
	  <tr>
		<td><%= application.title %></td>
		<td><%= application.description %></td>
		<td><%= application.developers %></td>
		<td><%= application.platforms %></td>
		<td><%= application.url %></td>
		<td>$<%= application.price %></td>
		<td><%= application.status %></td>
		<td><%= application.comments %></td>
		<% if application.status != "Approved" %>
			<td><%= link_to 'Show', application_path(application) %></td>
			<% if application.status != "Rejected" %>
				<td><%= link_to 'Approve', approve_applications_path(:id => application.id) %></td>
				<td><%= link_to 'Reject', reject_applications_path(:id => application.id) %></td>
			<% end %>
		<% end %>
		</tr>
	<% end %>
	</tbody>
  </table>
</body>
</html>
<% else %>
	<h3>You do not have permission to view this page<h3>
<% end %>